node_modules
cypress-exercise.cy.js 
lesson-1.cy.js 
lesson-3.cy.js

actionsLesson.html
practices.cy.js

add-wishlist.cy.js
screenshots
MyVedioFolder
add-to-compare.cy.js
myReport
discribe-it
addToCart.feature
addToCompare.feature
CreateNewAccount.feature
loginTest.feature
printProduct.feature
printProduct
loginTest
CreateNewAccount
addToCompare
addToCart